@model VirtualWallet.DTO.AccountDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@if(Model.Balance == 0)
{
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Balance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Balance)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
}
else
{
    <h3>You cannot delete this account</h3>
    <h5>Please make sure this account is out of money and try again.</h5>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
}

