
<div class="row justify-content-center align-items-center minh-80">
    <div class="col-6">
        <div class="card main-bg text-light">
          <div class="card-body">
            <h3 class="card-title text-center text-light">Log in</h3>
            <p class="card-text text-center">Please, you log in to manage your account</p>
            <div class="row justify-content-center">
                <a asp-controller="Users" asp-action="Login" class="btn btn-primary">Log In</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card main-bg text-light">
          <div class="card-body">
            <h3 class="card-title text-center text-light">Sign In</h3>
            <p class="card-text text-center">Sign In to get the best way to manage your money</p>
            <div class="row justify-content-center">
                <a asp-controller="Users" asp-action="SignIn" class="btn btn-primary">Sign In</a>
            </div>
          </div>
        </div>
    </div>
</div>